.version.kontakt /* version checker */
{
	color: #00000E;
	background-color: #7C6A3D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1604.6749999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1378px;
	padding-top: 169px;
	width: 0.01px;
}

#u395-4
{
	z-index: 2;
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 308px;
}

#u396-5
{
	z-index: 6;
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 410px;
}

#u397-4
{
	z-index: 11;
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 512px;
}

#u395,#u396,#u397
{
	color: #7F7F7F;
}

#u276-4
{
	z-index: 15;
	width: 241px;
	min-height: 23px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	left: -18px;
	position: relative;
}

#pu277-5
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 6px;
}

#u277-5
{
	z-index: 19;
	width: 496px;
	min-height: 50px;
	background-color: transparent;
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u905-14
{
	z-index: 111;
	width: 438px;
	min-height: 317px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 713px;
}

#u278
{
	z-index: 24;
	height: 788px;
	background-color: #FF6757;
}

#u278-bw
{
	z-index: 24;
	margin-top: 207px;
	height: 788px;
}

#ppu284-10
{
	width: 0.01px;
	margin-left: -64px;
	margin-top: -741px;
}

#pu284-10
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 275px;
	margin-left: 774px;
}

#u284-10
{
	z-index: 66;
	width: 291px;
	min-height: 84px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
}

#u285-10
{
	z-index: 76;
	width: 291px;
	min-height: 85px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	margin-top: 54px;
	position: relative;
}

#u286-11
{
	z-index: 86;
	width: 291px;
	min-height: 91px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	margin-top: 76px;
	position: relative;
}

#u284-3,#u284-5,#u284-7,#u285-3,#u285-5,#u285-7,#u286-4,#u286-6,#u286-8
{
	font-weight: normal;
}

#u280-32
{
	z-index: 25;
	width: 544px;
	min-height: 437px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u281-9
{
	z-index: 57;
	width: 544px;
	min-height: 468px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 356px;
}

#u932-4
{
	z-index: 125;
	width: 264px;
	min-height: 40px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	left: -61px;
	margin-top: 7px;
	position: relative;
}

#u932
{
	font-weight: bold;
}

#u933-4
{
	z-index: 129;
	width: 226px;
	min-height: 48px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 46px;
	margin-top: 59px;
	position: relative;
}

#u933
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#pu305-10
{
	width: 0.01px;
	margin-left: -85px;
	margin-top: 1105px;
}

#u305-10
{
	z-index: 101;
	width: 804px;
	min-height: 70px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u905-2,#u905-3,#u905-5,#u905-7,#u905-9,#u905-11,#u305-2,#u305-4,#u305-6,#u305-7
{
	font-size: 15px;
	line-height: 18px;
}

#u305-8
{
	font-size: 18px;
	line-height: 22px;
}

#u287-4
{
	z-index: 97;
	width: 69px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #7F7F7F;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 1086px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1389px;
}

#page .verticalspacer
{
	clear: both;
}

